#myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &#215;
        h4#myModalLabel.modal-title خاتمه کار
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") لغو
        button.btn.btn-primary(type="button") ثبت 
