table(data-toggle='table', data-url='/data1.json', data-cache='false', data-height='519', data-click-to-select="true", data-row-style="rowStyle", data-search="true", data-select-item-name="selectedRequest", data-pagination='true')
  thead
    tr
      th(data-field='select', data-radio='true')
      th(data-field='id', data-sortable='true') شماره
      th(data-field='name', data-sortable='true') درخواست کننده
      th(data-field='date', data-sortable='true') تاريخ ثبت
      th(data-field='type', data-sortable='true') نوع
      th(data-field='status', data-sortable='true') وضعيت
