.btn-group.btn-group-justified(role='group')
  .btn-group(role='group')
    button.btn.btn-info.btn-xs(type='button') ویرایش
  .btn-group(role='group')
    button.btn.btn-primary.btn-xs(type='button') درخواست جدید
  .btn-group(role='group')
    button.btn.btn-danger.btn-xs(type='button') حذف
  .btn-group(role='group')
    button.btn.btn-default.btn-xs(type='button') نمایش جزئیات
  .btn-group(role='group')
    button.btn.btn-warning.btn-xs(type='button') توقف
  .btn-group(role='group')
    button.btn.btn-success.btn-xs(type='button', data-target='#myModal', data-toggle='modal' ) خاتمه
include reqstdonemodal.jade
include reqstmodal.jade
