#accountsManegement.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title مدیریت کاربران
      .modal-body
        .row
          .form-group
            a.btn.col-md-1(type='button')
              span.glyphicon.glyphicon-arrow-right
            .col-md-10
              .input-group
                span.input-group-addon(id='sizing-addon1')
                  span.glyphicon.glyphicon-search
                input.form-control(type='text', ng-model='selected', typeahead-on-select='setUser($item)', typeahead=' user.name + " " + user.family for user in users | filter:$viewValue | limitTo:8', placeholder='جهت انتخاب از لیست کاربران، ابتدا بخشی از اطلاعات کاربری را وارد نمایید...')
            a.btn.col-md-1(type='button')
              span.glyphicon.glyphicon-arrow-left
        hr
        .row.form-group
          .col-md-3
            label.control-label(for='in1') نام
            input.form-control(name='textinput', type='text', id='in1', ng-model = 'selectedUser.name')
          .col-md-3
            label.control-label(for='in2') نام خانوادگی
            input.form-control(name='textinput', type='text', id='in2', ng-model = 'selectedUser.family')
          .col-md-3
            label.control-label(for='in3') نام کاربری
            input.form-control(name='textinput', type='text', id='in3', ng-model = 'selectedUser.username')
          .col-md-3
            label.control-label(for='in4') کلمه عبور
            input.form-control(name='textinput', type='text', id='in4', ng-model = 'selectedUser.password')
        .form-group
          label.control-label(for='in5') آدرس الکترونیک
          input.form-control(name='textinput', type='text', id='in5', style='text-align: left', ng-model = 'selectedUser.email')
      .modal-footer
        button.btn.btn-primary.pull-right(type='button') تعریف کاربر جدید 
          span.glyphicon.glyphicon-plus
        button.btn.btn-default(type='button', data-dismiss='modal') انصراف
        button.btn.btn-warning(type='button', ng-click='addnewaccount()') ثبت تغییرات 
          span.glyphicon.glyphicon-pencil