.modal-dialog.modal-sm
  .modal-content
    .modal-header
      button.close(type='button', data-dismiss='modal')
        span ×
      h4.modal-title تعریف فعالیت جدید
    .modal-body
      input.form-control(type='text', ng-model='newitem', placeholder='عنوان فعالیت را وارد نمایید')
    .modal-footer
      button.btn.btn-default(type='button', data-dismiss='modal') انصراف
      button.btn.btn-primary(type='button', ng-click='addnewitem()') تایید