#addTaskModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title تعریف فعالیت جدید
      .modal-body
        input.form-control(type='text', ng-model='newtask', placeholder='عنوان فعالیت را وارد نمایید')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') انصراف
        button.btn.btn-primary(type='button', ng-click='addnewtask()') تایید
#editItemModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title واژه را اصلاح نمایید 
      .modal-body
        input.form-control(type='text', ng-model='selecteditem')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') انصراف
        button.btn.btn-primary(type='button', ng-click='updateselecteditem()') تایید