button.btn.btn-xs.btn-primary(ng-repeat='task in alltasks',type='button',style='margin-left:4px;margin-bottom:2px',ng-click='taskitemclick($index)'){{task.name}}
  .span.glyphicon.glyphicon-ok(aria-hidden='true')
