each val,index in ['فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت']
  .btn.btn-xs.btn-primary(type='button',style='margin-left:2px')=val+index
    .span.glyphicon.glyphicon-ok(aria-hidden='true')
