each val,index in ['فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت']
  a.btn.btn-xs.btn-primary(type='button',style='margin-left:2px',href='#AddNewItem/'+index)=val+index
    .span.glyphicon.glyphicon-ok(aria-hidden='true')
