each val,index in requestItems
  label.checkbox-inline(for='checkboxes-'+index)
    input(type='checkbox', id='checkboxes-'+index, value=val, ng-checked='selection.indexOf("'+val+'") > -1', ng-click='toggleselection("'+val+'")')
    | #{val}