each val,index in requestItems
  label.btn-xs.btn-primary(ng-show='data.requestitems.indexOf("'+val+'") > -1', style='margin-left:4px;margin-bottom:2px')   #{val}
  //span.label.label-primary(ng-show='data.requestitems.indexOf("'+val+'") > -1', style='display: inline-block')   #{val}