div.pull-right
  .row
    button.btn.btn-default.btn-circle(type='button', data-toggle='tooltip', title='برگشت', ng-click='backclick()')
      span.glyphicon.glyphicon-share-alt
  .row 
    a.btn.btn-primary.btn-circle(data-toggle='tooltip', title='درخواست', ng-click='setpageid(1)', href='#primary', ng-class='pageid===1 ? "btn-toggle" : ""')
      span.glyphicon.glyphicon-tasks
  .row(ng-hide='requestLevel<2')
    a.btn.btn-success.btn-circle(data-toggle='tooltip', title='فعالیت های انجام شده', ng-click='setpageid(2)', href='#success', ng-class='pageid===2 ? "btn-toggle" : ""')
      span.glyphicon.glyphicon-wrench
  .row(ng-show='requestLevel===1 || (requestLevel===2 && isOwner)')
    a.btn.btn-warning.btn-circle(data-toggle='tooltip', title='دستورات', ng-click='setpageid(3)', href='#action', ng-class='pageid===3 ? "btn-toggle" : ""')
      span.glyphicon.glyphicon-exclamation-sign
script.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });