button.btn.btn-xs.btn-success(ng-repeat='task in selectedtasks',type='button',style='margin-left:4px;margin-bottom:2px',ng-click='selectedtaskitemclick($index)'){{task.name}}
  .span.glyphicon.glyphicon-remove(aria-hidden='true')

