each val,index in ['فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت']
  a.btn.btn-xs.btn-success(type='button',style='margin-left:2px',href='#RemoveItem/'+index)=val+index
    .span.glyphicon.glyphicon-remove(aria-hidden='true') 