each val,index in ['فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت','فعالیت']
  .btn.btn-xs.btn-success(type='button',style='margin-left:2px')=val+index
    .span.glyphicon.glyphicon-remove(aria-hidden='true') 