button.btn.btn-xs.btn-warning(type='button', style='margin-left:4px;margin-bottom:2px', data-toggle='modal', data-target='#addTaskModal')
  .span.glyphicon.glyphicon-plus
button.btn.btn-xs.btn-danger(type='button', style='margin-left:4px;margin-bottom:2px', ng-click='tasksclass="glyphicon-minus"')
  .span.glyphicon.glyphicon-minus
button.btn.btn-xs.btn-danger(type='button', style='margin-left:4px;margin-bottom:2px', ng-click='tasksclass="glyphicon-pencil"') 
  .span.glyphicon.glyphicon-pencil
button.btn.btn-xs.btn-info(type='button', style='margin-left:4px;margin-bottom:2px', ng-click='tasksclass="glyphicon-ok"')
  .span.glyphicon.glyphicon-ok  
#addTaskModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title تعریف فعالیت جدید
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') انصراف
        button.btn.btn-primary(type='button') ذخیره
#editTaskModal.modal.fade(tabindex='-1')
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span ×
        h4.modal-title ویرایش فعالیت
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') انصراف
        button.btn.btn-primary(type='button') ذخیره
