button.btn.btn-xs.btn-warning(type='button', style='margin-left:4px;margin-bottom:2px', data-toggle='modal', data-target='#addTaskModal')
  .span.glyphicon.glyphicon-plus
button.btn.btn-xs.btn-danger(type='button', style='margin-left:4px;margin-bottom:2px', ng-click='tasksclass="glyphicon-minus"')
  .span.glyphicon.glyphicon-minus
button.btn.btn-xs.btn-danger(type='button', style='margin-left:4px;margin-bottom:2px', ng-click='tasksclass="glyphicon-pencil"') 
  .span.glyphicon.glyphicon-pencil
button.btn.btn-xs.btn-info(type='button', style='margin-left:4px;margin-bottom:2px', ng-click='tasksclass="glyphicon-ok"')
  .span.glyphicon.glyphicon-ok
include ../../modals/tasksEditAdd.jade
