div(ng-hide='hiderequest', ng-if='requestLevel<5', ng-controller='requestnav')
  .form-group
    include requestnav.jade
  .col-md-12
    include panelPrimary.jade
    include panelSuccess.jade
    include panelsAction.jade