div(ng-hide='hiderequest', ng-if='requestLevel<5', ng-controller='requestnav')
  include requestnav.jade
  div.col-md-12(style='margin: 10px')
    include panelPrimary.jade
    include panelSuccess.jade
    include panelsAction.jade