.panel.panel-success(ng-hide='hidesuccess', ng-if='(requestLevel===2 && userLevel===1) || requestLevel===3')
  .panel-heading
    h3.panel-title شرح فعالیت ها
      span.label.label-default.pull-left {{data.id + ' --- ' + data.initdate + ' --- ' + data.user}}
  .panel-body(ng-controller = 'TaskController')
    .form-group.input-group
      input.form-control(my-on-key-down-call="itemsfilter()", ng-model='filtertext', type='text', placeholder='با ورود عبارت مناسب، فعالیت مورد نظر خود را بیابید...Esc=لغو فیلتر و Enter=انتخاب.')
      .span.input-group-btn
        .btn.btn-info(type='button', ng-click='clearfilter()') نمایش همه 
          .span.glyphicon.glyphicon-remove-circle(aria-hidden='true')
    .well(style='height:180px;overflow:auto')
      include parts/allitems.jade
    | با اشاره به فعالیت های انتخاب شده جزئییات را ویرایش یا حذف نمایید:
    .well(style='height:100px;overflow:auto')
      include parts/selecteditems.jade
