.panel.panel-primary(ng-hide='hideprimary')
  .panel-heading
    h3.panel-title فرم درخواست انجام کار واحد خدمات کامپیوتری
  .panel-body(ng-controller='panelPrimary')
    .row.form-group
      include parts/datetime.jade
    .row
      label.col-md-3.control-label(for='checkboxes') موضوع درخواست
    .well
      include parts/items.jade
    .row.form-group
      label.col-md-2.control-label(for='textarea') توضیحات
      .col-md-8
        textarea#textarea.form-control(name='textarea') 
  .panel-footer  
    .btn-group.btn-group-justified(role='group', ng-if='requestLevel===0')
      .btn.btn-default(name='buttoncancel') انصراف
        .span.glyphicon.glyphicon-remove(aria-hidden='true') 
      .btn.btn-success(name='buttonok') ثبت درخواست
        .span.glyphicon.glyphicon-ok
    .alert.alert-info(role='alert', ng-if='requestLevel===1')
      span.glyphicon.glyphicon-hourglass(aria-hidden='true')
      span.sr-only Error:
      |  ثبت شده
    .alert.alert-info(role='alert', ng-if='requestLevel===2')
      span.glyphicon.glyphicon-hourglass
      span.sr-only Error:
      |  در دست اقدام     
    .alert.alert-success(role='alert', ng-if='requestLevel===3')
      span.glyphicon.glyphicon-ok
      span.sr-only Error:
      |  خاتمه یافته
    .alert.alert-warning(role='alert', ng-if='requestLevel===4')
      span.glyphicon.glyphicon-exclamation-sign
      span.sr-only Error:
      |  متوقف شده
