.btn-group.btn-group-justified(role='group')
  .btn-group(role='group')
    button.btn.btn-default.btn-xs(ng-click = 'backclick()')  
      span.glyphicon.glyphicon-chevron-right برگشت
  .btn-group(role='group')
    button.btn.btn-primary.btn-xs(ng-click = 'showprimaryclick()') درخواست
  .btn-group(role='group', ng-hide='requestLevel<2')
    button.btn.btn-success.btn-xs(ng-click = 'showsuccess()') فعالیت های انجام شده 
  .btn-group(role='group', ng-hide='requestLevel>2')
    button.btn.btn-warning.btn-xs(ng-click = 'showactionclick()') دستورات