form.navbar-form.navbar-left
  if (user.isOwner)
    .btn-group(style='margin-left:5px')
      button.btn.btn-success.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
        span.glyphicon.glyphicon-cog
        |  تنظيمات 
        span.caret
      ul.dropdown-menu.pull-right
        li
          a(href='/admin/backup')
            span.glyphicon.glyphicon-import
            |  دريافت بانک پشتيبان  
        li
          a(href='#', data-toggle='modal', data-target='#uploadDataBase')
            span.glyphicon.glyphicon-export
            |  نصب بانک پشتيبان     
        li
          a(href='#', ng-click='accountsclick()')
            span.glyphicon.glyphicon-cog
            |  کاربران 
  a.btn.btn-warning(href='/logout', data-toggle='tooltip', data-placement='bottom', title='خروج') 
    | #{user.username} 
    span.glyphicon.glyphicon-log-out
script.
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
