.container-fluid(ng-controller='dashboardCont', ng-init='tasks=#{tasks}; requestItems=#{requestItems}')
  div(ng-hide='hidetable', style='margin : 10px')
    include tableplusnav.jade
  div(style='margin : 10px')
    div.col-md-12(ng-hide='hiderequest', ng-if='requestLevel<5', style='margin: 10px')
      .ng-view