.container-fluid(ng-controller='dashboardCont', ng-init='tasks=#{tasks}')
  .row
    div(ng-hide='hidetable', style='margin : 10px')
      include tableplusnav.jade
    div(style='margin : 10px')
      .ng-view