.container-fluid(ng-controller='dashboardCont', ng-init='tasks=#{tasks}; requestItems=#{requestItems}')
  div(ng-hide='hidetable', style='margin : 10px')
    include tableplusnav.jade
  div(style='margin : 10px')
    .ng-view