.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar
      include rightnav.jade
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      include requeststable.jade
      include requestbtn.jade
