script(src='#{pathToAssets}/angular-route/angular-route.min.js');
script(src='#{pathToAssets}/angular-mask/dist/ngMask.min.js');
script(src='#{pathToAssets}/socket.io-client/socket.io.js');
script(src='#{pathToAssets}/snap.svg/dist/snap.svg-min.js');
script(src='js/services/itRequestService.js');
script(src='js/controllers/dashboardCont.js');
script(src='js/controllers/taskCont.js');
script(src='js/controllers/itemCont.js');
script(src='js/controllers/navtopCont.js');
script(src='js/controllers/mapCont.js');
script(src='js/controllers/usermanCont.js');
script(src='js/directives.js');
script(src='js/ui-bootstrap-custom-tpls-0.13.2.min.js');
script(src='js/jdate.js');