doctype html
include head.jade
  title  سیستم مدیریت درخواست انجام کار
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') سیستم مدیریت درخواست انجام کار 
        .navbar-collapse.collapse
          if !(user)
            form.navbar-form.navbar-left(role='form', action='/login', method='post')
              .form-group
                span.label.label-warning(style='margin-left:5px') #{message}
                input.form-control(type='text', name="username", placeholder='نام کاربری')
                input.form-control(type='password', name="password", placeholder='کلمه عبور')
                button.btn.btn-success(type='submit') ورود 
          else
            form.navbar-form.navbar-left(role='form', action='/logout')
              span.label.label-info(style='margin-left:5px')نام کاربر: #{user.username}
              button.btn.btn-success(type='submit') خروج 
        // /.navbar-collapse
    if !(user)
      .jumbotron
        .container
          h1 خوش آمدید!
          p
            | این پایگاه اینترنتی به منظور ثبت درخواست انجام کار، پیگیری درخواستهای ثبت شده و تهیه گزارشات مورد نیاز طراحی شده است، جهت ورود به پایگاه ابتدا نام کاربری و کلمه عبور خود را در قسمت بالا وارد نمایید.
    else
      include dashboard.jade
    include foot.jade
