doctype html
include head.jade
  title فرم درخواست خدمات IT 
  body
    .input-group
      span.input-group-addon متقاضی:
      input.form-control(type='text', placeholder='نام و نام خانوادگی')
    .input-group
      span.input-group-addon واحد متقاضی:
      input.form-control(type='text', placeholder='واحد متقاضی')
