form(action='/sql/DELETE/myTable', method='post', name='testform')
    | field1:
    input(type='text', name='field1', placeholder='...') 
    | 
    br
    |  field2:  
    input(type='text', name='field2', placeholder='...') 
    | 
    br
    |  field3:
    input(type='text', name='field3', placeholder='...')  
    | 
    br
    |  id: 
    input(type='text', name='id', placeholder='...') 
    | 
    br
    button(type='submit') Submit
