table#requestsTable(data-toggle='table', data-url='/data/table', data-cache='false', data-height='408', data-click-to-select='true', data-row-style='rowStyle', data-search='true', data-select-item-name='selectedRequest', data-pagination='true', data-page-size='7', data-page-list='[7,20,50]')
  thead
    tr
      th(data-field='select', data-radio='true')
      th(data-field='id', data-sortable='true', data-width='1px') شماره
      th(data-field='requestitems', data-width='160px') خدمات درخواستی 
      th(data-field='applicant', data-sortable='true', data-width='130px') متقاضی
      th(data-field='status', data-sortable='true', data-width='100px') وضعيت
      th(data-field='initdate', data-sortable='true', data-width='1px') تاريخ ثبت
      th(data-field='requesttasks') فعالیت های انجام شده
