table(data-toggle='table', data-url='/data1.json', data-cache='false', data-height='408', data-click-to-select="true", data-row-style="rowStyle", data-search="true", data-select-item-name="selectedRequest", data-pagination='true', data-page-size='7', data-page-list='[7,20,50]')
  thead
    tr
      th(data-field='select', data-radio='true')
      th(data-field='id', data-sortable='true', data-width='1px') شماره
      th(data-field='name', data-sortable='true', data-width='180px') درخواست کننده
      th(data-field='date', data-sortable='true', data-width='1px') تاريخ ثبت
      th(data-field='type', data-width='200px') نوع
      th(data-field='status', data-sortable='true', data-width='100px') وضعيت
      th(data-field='') فعالیت های انجام شده
      
