table#requestsTable(data-toggle='table', data-url='/data/table', data-cache='false', data-height='480', data-click-to-select='true', data-row-style='rowStyle', data-search='true', data-select-item-name='selectedRequest', data-pagination='true', data-page-size='7', data-page-list='[7,20,50]')
  thead
    tr
      th(data-field='select', data-radio='true')
      th(data-field='id', data-sortable='true', data-width='1px') شماره
      th(data-field='requestitems', data-width='250px') خدمات درخواستی 
      th(data-field='applicant', data-sortable='true', data-width='100px') متقاضی
      th(data-field='init', data-sortable='true', data-width='1px') ثبت
      th(data-field='start', data-sortable='true', data-width='1px') شروع
      th(data-field='end', data-sortable='true', data-width='1px') خاتمه
      th(data-field='requesttasks') فعالیت های انجام شده
