ul.nav.nav-sidebar
  h4.sub-header(style='margin-right:5px;margin-bottom:5px;border-bottom:2px solid #ccc') دریافتی  
    span.badge  14
  li.active
    a(href='#') خاتمه یافته  
      span.badge  14
  li
    a(href='#') در حال اقدام 
      span.badge  14
  li
    a(href='#') متوقف       
      span.badge  14
  h4.sub-header(style='margin-right:5px;margin-bottom:5px;border-bottom:2px solid #ccc') ارسالی    
    span.badge  14
  li
    a(href='#') خاتمه یافته  
      span.badge  14
  li
    a(href='#') در حال اقدام 
      span.badge  14
  li
    a(href='#') متوقف       
      span.badge  14
  h4.sub-header(style='margin-right:5px;margin-bottom:5px;border-bottom:2px solid #ccc') گزارشات /  فرآیندها
  ul
    li
      a(href='#', data-toggle='modal', data-target='#modalNewRequest') ثبت درخواست جدید 
    li
      a(href='#') گزارش 1 
    li
      a(href='#') گزارش 2 
