.btn-group.btn-group-justified(role='group')
  .btn-group(role='group')
    a.btn.btn-info.btn-xs(type='button', href='#it', ng-click='viewrequestclick()') نمایش 
  .btn-group(role='group')
    a.btn.btn-primary.btn-xs(type='button', href='#it', ng-click='newrequestclick()') درخواست جدید
  .btn-group(role='group')
    a.btn.btn-success.btn-xs(type='button', href='#it', ng-click='openrequestclick()') بررسی 
